@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

/* font-family: 'Kumbh Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(185, 75%, 39%);
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
  width: 100%;
}
.top-image {
  position: absolute;
  transform: translate(-15%, -45%);
}
.bottom-image {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(20%, 55%);
}
.card{
  width: 400px;
  border-top-left-radius: 15px;
border-top-right-radius: 15px;
  background: #fff;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 5px 10px 15px rgba(0,0 , 0, 0.5);
}
.card-top{
width: 100%;
height: 135px;
position: relative;
background: url('./images/bg-pattern-card.svg');
background-size: contain;
border-top-left-radius: 15px;
border-top-right-radius: 15px;

}
.card-profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
}
.card-profile img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.card-info{
  margin-top: 70px;
  
  display: grid;
  grid-template-columns: 60% auto;
}
.card-name{
padding: 15px 5px;
text-align: right;
font-weight: 700;
color: hsl(229,23%,23%);
}
.card-age{
  padding: 15px 5px;
  text-align: left;
  }
  .card-city{
    grid-column: span 2;
    text-align: center;
    font-size: 14px;
    color: hsl(0%, 0% ,59%);
  }
  .card-stats{
    margin-top: 15px;
    padding:20px 0 ;
    border-top: 1px solid hsl(0, 0% ,59%);
    display: flex;
  }
  .stat{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stat-num{
    font-size: 18px;
    color: hsl(229,23%,23%);
    font-weight: 700;
    margin-bottom: 5px;
  }
  .stat-title{
    font-size: 14px;
    color: hsl(0, 0% ,59%);
    margin-bottom:10px ;
  }
@media screen and (max-width: 706px) {
  .top-image {
    transform: translate(-65%, -45%);
  }
  .bottom-image {
    transform: translate(65%, 45%);
} ;
